<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="global.js"></script>
</head>
<body>
  <h1>Hello!</h1>
  <p>The time is <strong><%= Time.now %></strong>.</p>

  <hr>

  <p>Use the resource routes pattern to get information about students.</p>

  <ul>
    <li><a href="#" id="create">Create Student</a></li>
    <li><a href="students/3" id="view">View Student</a></li>
    <li><a href="#" id="modify">Modify Student</a></li>
    <li><a href="#" id="delete">Delete Student</a></li>
  </ul>

</body>
</html>
